:root {
	--main-color: #49d5ff;
}

.container-form {
	margin-top: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	font-family: Arial;
	flex-direction: column;
	gap: 20px;
}

form {
	width: 700px;
	background-color: #464343;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-line {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.form-label {
	font-size: 14px;
	color: #ffffff;
}

.form-field {
	width: 500px;
	height: 25px;
	padding: 0;
	box-sizing: border-box;
	border: 0px;
	padding: 5px;
}

.form-textarea {
	height: 150px;
	resize: none;
	padding: 5px;
}

.container-submit {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.submit-button {
	border: 0;
	background-color: var(--main-color);
	color: #fff;
	font-size: 15px;
	padding: 10px 15px;
}

.http_default {
	border: 1px dotted #000;
	background: #e8ebec;
	padding: 10px;
	width: 700px;
	line-height: 30px;
}

.http_code {
	border: 1px dotted var(--main-color);
	background: #e8ebec;
	padding: 10px;
	width: 700px;
	line-height: 30px;
}

.http_data {
	border: 1px dotted var(--main-color);
	background: #e8ebec;
	padding: 10px;
	width: 700px;
	line-height: 30px;
}

pre {
	line-height: 15px;
}